{% extends 'base.html' %}

{% block title %}Indicadores KPI{% endblock %}

{% block content %}
    <h1>Inicio</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="outlier-info">
                    <h2>Identificación de Picos de Ventas Inusuales</h2>
                    <p> Los outliers en la demanda de crédito pueden indicar picos repentinos en las ventas, 
                        que pueden ser causados por promociones especiales, campañas de marketing o eventos inesperados. 
                        Al identificar estos outliers, "ABC" puede obtener información sobre iniciativas de ventas
                        exitosas y aprovechar este conocimiento para replicar estrategias efectivas para otras tiendas.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="outlier-info">
                    <h2>Detección de Outliers Estacionales</h2>
                    <p> Los outliers pueden revelar patrones de estacionalidad en los que la demanda de crédito se desvía 
                        de la norma durante períodos específicos, como días festivos, festivales o temporadas con picos 
                        de compras. Comprender estos outliers estacionales permitirá a "ABC" dar advice a las tiendas con 
                        la que trabaja con la idea de garantizar que las tiendas estén bien preparadas para satisfacer 
                        la mayor demanda de los clientes finales durante los períodos festivos.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="outlier-info">
                    <h2>Evaluación del Impacto de Factores Externos</h2>
                    <p> Los outliers pueden indicar la influencia de factores externos, como cambios repentinos en las 
                        condiciones económicas locales, cambios de política o fenómenos meteorológicos. Comprender cómo 
                        estos outliers afectan la demanda de crédito permitirá a "ABC" ajustar sus estrategias comerciales 
                        generales en consecuencia y respaldar de manera proactiva a las tiendas durante tiempos inciertos.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="outlier-info">
                    <h2>Investigación de Abandono o Retención de Clientes</h2>
                    <p> Los outliers en la demanda de crédito pueden indicar posibles problemas de abandono o retención 
                        de clientes para tiendas específicas. Al analizar estos outliers, "ABC" puede identificar las 
                        tiendas que pueden necesitar apoyo adicional para retener a los clientes y evitar posibles pérdidas de ingresos</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
